# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* List of some tools of  Data Scientists

Some of the popular languages that Data Scientists use are: 

1. Python.
2. Julia.
3. R.
4. SQL.
5. C++.
6. Java ect...;.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.
10. BeautifulSoup.

|Data Science tools|
|---|
|MongoDB|
|TensorFlow|
|TensorFlow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:   
Hamza Asfour